header a:visited {
  color: white;
}
body {
  background-color: black;
  background-attachment: fixed;
  background-size: 100%;
  color: lightgrey;
  font-size: 2em;
  font-weight: bold;
}
li {
  margin-top: 10px;
}
header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: monospace;
}
strong {
  font-weight: bold;
}
code {
  background-color: rgb(44, 122, 179);
  border-radius: 10px;
  border-width: 5px;
  padding: 0.2em;
}

/*Mobile-friendly*/

@media (max-width: 1024px) {
  header a:visited {
    color: white;
  }
  body {
    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    color: lightgrey;
    font-weight: bold;
  }
  li {
    margin-top: 10px;
    font-size: em;
    text-align: left;
    list-style-type: none;
    margin-left: -1.6em;
    font-size: 0.8em;
  }
  header {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: monospace;
    text-decoration: underline;
  }
  strong {
    font-weight: bold;
  }
  code {
    font-size: 1.2em;
    background-color: rgb(44, 122, 179);
    border-radius: 10px;
    border-width: 5px;
    padding: 0.2em;
    line-height: 2em;
  }
}
