body {
background-image: url(http://img1.mxstatic.com/wallpapers/1bc9ae1a8e79ffec371aa4438afdf5db_large.jpeg);
background-attachment: fixed;
background-size: 100%;
font-size: 2em;
color: black;
}

h1 {
text-align: center;
text-decoration: underline;
color : white;

}

ul {
  text-align: center;
}


#container

{

  background-color: #bf741b;

  background-size: cover;

margin-left: 850px;

  position: absolute;
padding: 10px;
  border: solid  black;

  border-radius: 45px ;
  border-width: 5px;
}
